@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

*{
  font-size: 14px;
  /* font-family: cascadia mono; */
}